[Desktop Entry]
Version=1.0
Name=Application
Comment=A template for creating Nickvision applications
Exec=/usr/bin/org.nickvision.application
Icon=org.nickvision.application
Terminal=false
Type=Application
X-GNOME-UsesNotifications=true
StartupNotify=true
DBusActivatable=true