# Prerequisites
*.d

compile_commands.json

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
.vs/
.vscode/
out/
build/
bin/
obj/
Debug/
Release/

# CMake
CMakePresets.json
CMakeSettings.json
CMakeLists.txt.user

# macOS
.DS_Store

# Qt Creator
*.pro.user