[Desktop Entry]
Version=2022.5.0
Name=Application
Comment=A template for creating Nickvision application
Exec=NickvisionApplication
Icon=org.nickvision.application.svg
Terminal=false
Type=Application