#include "resource.h"

APP_ICON ICON "Resources/icon.ico"

APP_ICON_PNG RCDATA "Resources/icon.png"
APP_ICON_SPLASH_PNG RCDATA "Resources/iconSplash.png"
OPENED_FOLDER RCDATA "Resources/OpenedFolder.png"
SETTINGS RCDATA "Resources/Settings.png"