on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    types: [ "review_requested", "ready_for_review" ]
  workflow_dispatch:
name: Windows
permissions:
  id-token: write
  contents: read
env:
  PROJECT_PATH: Nickvision.Application.WinUI/Nickvision.Application.WinUI.csproj
  INSTALLER_NAME: NickvisionApplicationSetup
jobs:
  winui-windows:
    name: "WinUI on Windows"
    if: ${{ github.event.pull_request.user.login != 'weblate' }}
    strategy:
      matrix:
        variant:
          - arch: x64
            runner: windows-latest
            subsys: mingw64
            type: x86_64
          - arch: arm64
            runner: windows-11-arm
            subsys: clangarm64
            type: clang-aarch64
    runs-on: ${{ matrix.variant.runner }}
    steps:
      - uses: actions/checkout@v5
        with:
          submodules: recursive
      - uses: msys2/setup-msys2@v2
        id: msys2
        with:
          msystem: ${{ matrix.variant.subsys }}
          install: mingw-w64-${{ matrix.variant.type }}-gettext-tools
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '10.0.x'
      - uses: microsoft/setup-msbuild@v2
      - name: "Setup Environment"
        shell: pwsh
        run: |
          echo "${{ steps.msys2.outputs.msys2-location }}\${{ matrix.variant.subsys }}\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          mkdir build
      - name: "Restore"
        run: msbuild ${{ env.PROJECT_PATH }} /t:Restore /p:Configuration=Debug
      - name: "Build"
        run: msbuild ${{ env.PROJECT_PATH }} /p:Configuration=Debug /p:Platform=${{ matrix.variant.arch }}
      - name: "Installer"
        working-directory: ${{github.workspace}}/inno
        env:
          APP_ARCH: ${{ matrix.variant.arch }}
        shell: pwsh
        run: |
          $ProgressPreference = 'SilentlyContinue'
          Invoke-WebRequest https://builds.dotnet.microsoft.com/dotnet/WindowsDesktop/9.0.11/windowsdesktop-runtime-9.0.11-win-${{ matrix.variant.arch }}.exe -OutFile dotnet.exe
          iscc setup.iss
      - uses: actions/upload-artifact@v4
        with:
          path: ${{ github.workspace }}/inno/${{ env.INSTALLER_NAME }}.exe
          name: ${{ env.INSTALLER_NAME }}-${{ matrix.variant.arch }}
